$input-main-color: transparent !default;
$input-secondary-color: #009dff !default;
$input-text-color: #222222 !default;

.base-input {
  box-sizing: border-box;
  height: inherit;
  min-width: 50px;
  width: 100%;
  background-color: $input-main-color;
  padding: 8px;
  margin: 8px 5px;
  border-radius: 10px;
  border: 1px solid $input-secondary-color;
  font-weight: 600;
  font-size: 15px;
  color: $input-text-color;
  outline: none;

  &:hover {
    transform: scale(1.01);
  }

  &:not(:disabled) {
    transition: ease 0.2s;
  }

  &:first-child {
    margin-left: 0;
  }

  &:active,
  &.active {
    transform: scale(0.99);
    border: 1px solid $input-secondary-color;
  }

  &[type="datetime-local"] {
    appearance: none;
    padding: 10px 20px;

    width: max-content;

    &::-webkit-calendar-picker-indicator {
      color: $input-text-color;
      opacity: 0.8;
      cursor: pointer;
    }

    &::-webkit-datetime-edit-fields-wrapper {
      padding: 0;
    }

    &::-webkit-datetime-edit,
    &::-webkit-datetime-edit-year-field,
    &::-webkit-datetime-edit-month-field,
    &::-webkit-datetime-edit-day-field,
    &::-webkit-datetime-edit-hour-field,
    &::-webkit-datetime-edit-minute-field,
    &::-webkit-datetime-edit-second-field,
    &::-webkit-datetime-edit-millisecond-field,
    &::-webkit-datetime-edit-ampm-field {
      color: $input-text-color;
    }
  }
}

.input {
  @mixin color($main, $secondary, $text) {
    $input-main-color: $main !global;
    $input-secondary-color: $secondary !global;
    $input-text-color: $text !global;
  }

  @include color(transparent, #009dff, #222);

  &:hover {
    @include color(#009dff, #009dff, #fff);
  }

  &:active,
  &.active {
    @include color(#bda505, #bda505, #fff);
  }

  &:disabled {
    @include color(#004064, #009dff, #fff);
  }
}
