$base-select-main-color: #fff !default;
$base-select-main-selected-color: rgba(0, 0, 0) !default;
$base-select-secondary-color: #000 !default;
$base-select-text-color: #222 !default;

@mixin color($main, $main-select, $secondary, $text) {
  $base-select-main-color: $main !global;
  $base-select-main-selected-color: $main-select !global;
  $base-select-secondary-color: $secondary !global;
  $base-select-text-color: $text !global;
}

.base-select-option {
  @include color(#fff, #009dff, #009dff, #222222);
}

.mat-focused {
  .mat-mdc-text-field-wrapper {
    border-radius: 10px 10px 0 0 !important;
    border-bottom: none;
  }
}

.mat-mdc-text-field-wrapper {
  transition: ease-out .2s;

  background-color: $base-select-main-color !important;

  border: 1px solid $base-select-secondary-color !important;
  border-radius: 10px !important;
}

.mat-mdc-form-field-bottom-align {
  display: none;
}

.mat-mdc-select-value-text {
  font-weight: 500;
  color: $base-select-text-color !important;
}

.mdc-floating-label {
  color: $base-select-secondary-color !important;
}

.mat-mdc-select-arrow {
  color: $base-select-secondary-color !important;
}

.mdc-line-ripple {
  display: none !important;
}

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
  background-color: $base-select-main-color;
  border: 1px solid $base-select-secondary-color;
  border-top: none;
  border-radius: 0 0 10px 10px !important;
  box-shadow: none;

  .mdc-list-item__primary-text {
    font-weight: 500;
    color: $base-select-text-color;
  }

  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
    background-color: rgba($base-select-main-selected-color, 0.25);
  }
}
