.button {
  @mixin color($main, $secondary, $text) {
    --btn-main-color: #{$main};
    --btn-secondary-color: #{$secondary};
    --btn-text-color: #{$text};
  }

  @include color(#fff, #009dff, #222);

  &:hover {
    @include color(#009dff, #009dff, #fff);
  }

  &:active, .active {
    @include color(#bda505, #bda505, #fff);
  }

  &:disabled {
    @include color(#004064, #009dff, #fff);
  }

  &.cancel {
    @include color(#de2d2d, #750d0d, #222);

    &:hover {
      @include color(#de2d2d, #de2d2d, #fff);
    }

    &:active, .active {
      @include color(#41ce14, #39b412, #fff);
    }

    &:disabled {
      @include color(#af1d1d, #de2d2d, #fff);
    }
  }
}

.flat-button {
  @mixin color($main, $secondary, $text) {
    --btn-main-color: #{$main};
    --btn-secondary-color: #{$secondary};
    --btn-text-color: #{$text};
  }

  @include color(#009dff, #009dff, #222);

  &:hover {
    @include color(#009dff, #009dff, #fff);
  }

  &:active, .active {
    @include color(#bda505, #bda505, #fff);
  }

  &:disabled {
    @include color(#004064, #009dff, #fff);
  }
}
