<header class="header">
  <span class="svg-container" style="display: flex;">
    <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="15" height="15"
         viewBox="0 0 6 6"><path fill="#009dff" d="M1 0c2.5 0 5 2.5 5 5V0H1Z"></path></svg></span>
  <nav class="navigation">
    <div class="user_details">
      <div>JJerome</div>
    </div>

    <hr class="separate-line">

    <div class="nav-links">
      <a routerLink="/course" class="link">Courses</a>
    </div>
  </nav>
  <span class="svg-container" style="display: flex;">
    <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="15" height="15"
         viewBox="0 0 6 6"><path fill="#009dff" d="M5 0C2.5 0 0 2.5 0 5V0h5Z"></path></svg></span>
</header>
