<div class="course-page-wrapper">
  <div class="nav">
    <div class="left-side">
      <app-routing-button class="nav-btn" [routerLink]="'/course/' + courseId">
        Course
      </app-routing-button>
      <app-routing-button class="nav-btn">
        Join
      </app-routing-button>
      <app-routing-button class="nav-btn" *ngIf="isPeoplesPageAvailable()">
        People
      </app-routing-button>
      <app-base-button class="button" (click)="previousPage()">
        Back
      </app-base-button>
    </div>

    <div class="right-side">
      <app-base-button class="button" (click)="save()" *ngIf="buttonsVisibility.saveCourseVisible">
        Save
      </app-base-button>
    </div>
  </div>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>
