.assignment-main{
  display: flex;

  flex-direction: row;
  justify-content: space-between;

  .about-assignment, .sub-assignments, .submission{
    padding: 5px;

    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
  }

  .assignment-attached-content{
    max-height: 30vh;
    height: min-content;
  }

  .about-assignment{
    box-sizing: border-box;

    min-width: 33%;
    max-width: 70%;
    height: 100%;

    padding: 5px 10px !important;
    margin-right: 5px;

    border-radius: 10px;

    background: rgba(255, 255, 255, 0.7);

    .assignment-title, .assignment-description{
    }

    .assignment-title{
      font-size: 20px;
    }

    .due-date{
      margin-top: 5px;
      font-size: 15px;
    }

    .assignment-description{
      margin-top: 10px;
      font-size: 14px;
    }
  }

  .sub-assignments {
    box-sizing: border-box;

    min-width: 33%;
    max-width: 40%;
    width: max-content;

    .title{
      color: rgba(0, 0, 0, 0.4);
      font-weight: 500;
    }

    .sub-assignments-list{
      height: 95%;

      overflow: auto;

      .sub-assignment{
        display: flex;

        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        margin: 5px 0;
        padding: 2px 20px;

        border-radius: 10px;

        background: rgba(255, 255, 255, 0.7);

        transition: ease .2s;

        .left-side{
          display: flex;

          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          min-width: 50%;
          width: max-content;

          .sub-assignment-title{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .right-side{
          display: flex;

          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          margin-left: 1%;

          width: 100%;

          .due-date, .grade{
            font-size: 14px;
          }
        }

        &:hover{
          background: rgba(222, 222, 222, 0.7);
        }
        &:active{
          transform: scale(0.99);
        }
      }
    }
  }

  .submission{
    min-width: 30%;
    max-width: 35%;

    .submission-attached-content{
      max-height: 35vh;
      height: max-content;

      margin-bottom: 10px;
    }

    .details{
      display: flex;
      flex-direction: column;
      width: 100%;

      .details-header{
        width: 100%;
        text-align: center;

        background: rgba(255, 255, 255, 0.7);
      }

      .grade-status{
        .labels{
          display: flex;

          flex-wrap: wrap;
        }
      }

      .button{
        width: 100%;
      }
    }

    .comments{
      box-sizing: border-box;

      margin: 10px 0;
      padding: 10px;

      border-radius: 10px;

      background: rgba(255, 255, 255, 0.4);

      .comment-form{
        display: flex;

        flex-direction: row;
        align-items: center;

        .send-btn{
          width: max-content;
        }
      }
    }
  }
}
