<div class="comments">
  <div class="comments-list">
    <div class="comment-item-wrapper"
         *ngFor="let comment of comments"
         [ngClass]="{
                    'yours': comment.senderId !== this.member.id,
                    'mine': comment.senderId === this.member.id,
                    }"
    >
      <div class="comment-item">
        <div class="comment-owner" [style.color]="getUserColor(comment.senderId)">
          {{ comment.senderId === this.member.id ? "You" : "JJerome" }}
          :
        </div>
        <div class="comment-text">
          {{ comment.message }}
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="addCommentForm" class="comment-form">
    <input type="text" class="base-input" matInput placeholder="Message" formControlName="message" ngDefaultControl>
    <app-base-button class="button send-btn" (click)="addSubmissionComment()">
      Send
    </app-base-button>
  </form>
</div>
