.comments {
  box-sizing: border-box;
  display: flex;

  flex-direction: column;

  margin: 10px 0;
  padding: 10px;

  max-height: inherit;
  min-height: inherit;
  height: inherit;

  border-radius: 10px;

  background: rgba(255, 255, 255, 0.7);

  .comment-form {
    display: flex;

    flex-direction: row;
    align-items: center;

    .send-btn {
      width: max-content;
    }
  }

  .mine {
    justify-content: flex-end !important;

    .comment-text {
      text-align: right !important;
    }
  }

  .comments-list {
    overflow-y: auto;
    height: 100%;

    .comment-item-wrapper {
      display: flex;

      flex-direction: row;
      justify-content: flex-start;
      text-align: left;

      width: 100%;

      .comment-item {
        display: flex;

        flex-direction: column;

        background: rgba(0, 0, 0, 0.05);

        margin: 2px 0;
        padding: 2px 6px;
        border-radius: 10px;

        min-width: 30%;
        max-width: 90%;
        width: max-content;

        font-size: 14px;

        overflow: hidden;
        text-overflow: clip;
        white-space: wrap;
        word-wrap: break-word;

        .comment-owner {
          font-weight: 600;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
