/* You can add global styles to this file, and also import other style files */
@import "./other-styles/base-select";
@import "./other-styles/base-input";
@import "./other-styles/base-button";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;

  color: #222;

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(0, 157, 255, 0.3);
    border-radius: 10px;
  }
}
